* {
  font-family: arial, helvetica, sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: white;
  border-top: 0.2em solid #99ca3e;
}

nav {
  padding-top: 1em;
  max-width: 955px;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 0.5em solid whitesmoke;
}

#logo {
  font-size: 2em;
}

.right {
  text-align: right;
  float: right;
  display: inline-block;
}

#img-holder {
  text-align: center;
}

.dropdown {
/*  bottom: -1em;
  position: relative;*/
  display: inline-block;
}

.dropdown a {
  display: block;
}

.dropgroup {
  position: absolute;
  background: grey;
  top: 100%;
  display: none;
}
footer {
  background: #ccc;
  padding: 1em 0;
  font-size: smaller;
}
footer section {
  max-width: 955px; 
  margin: 0 auto;
  text-align: center;
}

#below-fold {
  min-height: 14em;
}

#below-fold div {
  width: 30%;
  margin: 0 1.5%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: small;
}

#below-fold img {
  width: 40%;
}
#body {
  width: 100%;
  min-width: 320px;
  max-width: 955px;
  margin: 0 auto;
}
.splash {
  width: 100%;
}
.slick {
  height: 40em;
}
.slick img {
  max-height: 100%;
  max-width: 100%;
}
.slick-list {
  min-width: 100%;
}